_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
vendor
node_modules
content/static/css/stylesheet.css
crash.log
output
tmp
tmp_docs
content/kadalu-storage/*
content/k8s-storage/*
content/binnacle/*
content/rfcs/*
bin
tmprepos