_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
vendor
node_modules
crash.log
output
tmp
tmp_docs
content/kadalu-storage/*
content/k8s-storage/*
content/binnacle/*
content/console/*
content/rfcs/*
bin
tmprepos