#!/usr/bin/env ruby

compile '/glusterup/*' do
  filter :erb
  layout '/landing_page.*'

  write item.identifier.to_s
end

compile '/docs/**/versions.html' do
  filter :erb
  layout '/doc_versions.*'

  write item.identifier.without_ext.gsub('/versions', '') + '/index.html'
end

compile '/docs/**/redirect.html' do
  layout '/doc_redirect.*'

  write item.identifier.without_ext.gsub("redirect", "") + 'index.html'
end

compile '/docs/**/*.html' do
  layout '/doc_default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/docs/**/index.erb' do
  filter :erb
  layout '/doc_projects.*'

  write item.identifier.without_ext + '.html'
end

compile '/docs/**/*.json.erb' do
  filter :erb

  write item.identifier.without_ext
end

compile '/docs/**/*.erb' do
  filter :erb
  layout '/doc_default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/docs/**/*.adoc' do
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/doc_default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

# END: /docs rules

compile '/rfcs/**/*.adoc' do
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/doc_default.*'

  write item.identifier.without_ext + '.html'
end

compile '/index.html' do
  filter :erb
  layout '/home.*'

  write item.identifier.to_s
end

compile '/blog.erb' do
  filter :erb
  layout '/blog_list.*'

  write item.identifier.without_ext + '/index.html'
end

route '/blog/*' do
  y, m, d, slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier.without_ext).captures

  "/blog/#{slug}/index.html"
end

compile '/blog/*.adoc' do
  filter :erb
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/blog.*'

  #write item.identifier.without_ext + '/index.html'
end

compile '/pages/*.html' do
  filter :erb
  layout '/page_noprose.*'

  write item.identifier.without_ext.gsub("/pages/", "/") + '/index.html'
end

compile '/pages/*.adoc' do
  filter :erb
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/page.*'

  write item.identifier.without_ext.gsub("/pages/", "/") + '/index.html'
end

compile '/**/*.adoc' do
  filter :erb
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/default.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/sitemap.xml' do
  filter :erb

  write item.identifier.to_s
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
