---
title: Kadalu Storage - Opinionated GlusterFS distribution
---
<div class="bg-indigo-100" style="min-height:50vh">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto text-center py-10">
        <h1 class="text-2xl md:text-4xl font-extrabold mb-10 mt-20">
            <span class="text-indigo-600">Kadalu Storage</span>
            <span class="text-gray-700">is an opinionated GlusterFS distribution</span></h1>
        <p class="text-gray-700">Kadalu Storage is a collection of Open Source projects to make GlusterFS more accessible, user friendly and Scalable.</p>
        <p class="text-gray-700">Our mission is to provide a stable File system with Modern ways to manage and monitor.</p>
    </div>
</div>

<%= @items['/pages/products.*'].compiled_content %>

<div class="bg-indigo-100">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Services</h2>
        <p class="text-gray-500 font-semibold"></p>
        <div class="md:grid md:grid-cols-2 md:gap-4 mt-10">
            <div class="prose max-w-none mb-10">
                <p>
                    <%= check_icon %><strong>Feature development</strong> - We can design, prototype and implement GlusterFS/Kadalu Storage tools, applications and features for your Company.<br/>
                    <%= check_icon %><strong>Migration to Kadalu Storage</strong> - Kadalu Storage is based on GlusterFS with added goodies. We can help to migrate to Kadalu Storage without or with minimal data movement.<br/>
                    <%= check_icon %><strong>Training</strong> - We provide GlusterFS/Kadalu Storage training for admins/developers<br/>
                    <%= check_icon %><strong>Consultancy</strong> - We provide GlusterFS/Kadalu Storage consultancy<br/>
                    <%= check_icon %><strong>Upgrade assistance</strong> - We provide GlusterFS/Kadalu Storage upgrade assistance<br/>
                </p>
            </div>
            <div class="text-center mt-10">
                <button class="button bg-indigo-600 text-gray-100" onclick="location.href='/services'">Learn more</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-indigo-200">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-10 py-10">Latest Blog Posts</h2>
        <div class="md:grid md:grid-cols-3 gap-4 pb-10">
            <% sort_blog_posts(@items.find_all('/blog/*'))[0, 3].each do |post| %>
            <% author = author_data(post[:author].to_sym) %>
            <% slug, created_at = slug_and_created_at(post) %>
            <a href="<%= slug %>">
                <div class="shadow-lg bg-white p-5 rounded-lg mb-5" style="height: 350px">
                    <div class="font-semibold text-xl mb-2"><%= post[:title] %></div>
                    <div class="text-gray-500 text-sm mb-7">Posted on <strong><%= get_pretty_date(created_at) %></strong> by <strong><%= author[:name] %></strong></div>
                    <p class="text-sm"><%= post[:description] %>...</p>
                </div>
            </a>
            <% end %>
        </div>
        <div class="text-right">
            <a class="bg-indigo-600 text-gray-100 button" href="/blog">more</a>
        </div>
    </div>
</div>
