---
title: Kadalu Storage - Opinionated GlusterFS distribution
---
<% check_icon = '<svg class="w-4 h-4 inline-block text-green-400 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>' %>
<div class="bg-indigo-100" style="height:50vh">
    <div class="w-3/4 mx-auto text-center py-10">
        <h1 class="text-2xl md:text-4xl font-extrabold mb-10 mt-20">
            <span class="text-indigo-600">Kadalu Storage</span>
            <span class="text-gray-700">is an opinionated GlusterFS distribution</span></h1>
        <p class="text-gray-700">Kadalu Storage is an collection of Open Source projects to make GlusterFS more accessible, user friendly and Scalable.</p>
        <p class="text-gray-700">Our mission is to provide stable File system with Modern ways to manage and monitor.</p>
    </div>
</div>

<div class="min-h-screen">
    <div class="w-3/4 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Kubernetes native Storage</h2>
        <p class="text-gray-500 font-semibold">Provision storage in less time than it takes to brew coffee</p>
        <div class="grid grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none">
                <p>Kadalu helps you configure persistent storage in 2 easy steps.</p>
                <p>So you can focus on managing and scaling your applications within k8s framework.</p>
                <p><%= check_icon %><strong>Easy to Use</strong> - Easy to install on an already running kubernetes cluster using Kadalu Operator.<br/>
                    <%= check_icon %><strong>Open Source</strong> - Kadalu is licenced under Apache 2.0 license.<br/>
                    <%= check_icon %><strong>Secure and Scalable</strong> - Natively integrated with Kubernetes for secured access to Storage servers.<br/>
                    <%= check_icon %><strong>Powered by GlusterFS</strong> - Kadalu is powered by time tested industry proven Gluster distributed Filesystem.<br/>
                    <%= check_icon %><strong>Works with all Kubernetes</strong> - Kadalu works with upstream Kubernetes, Openshift and many others.<br/>
                    <%= check_icon %><strong>Effective Monitoring</strong> - Kadalu comes with built-in health, utilization and performance metrics measures. Easy to integrate into observability patterns</p>
            </div>
            <div class="">
                <div class="prose max-w-none">
                    <pre>
$ kubectl kadalu install
$ kubectl kadalu storage-add storage-pool-1 \
    --device kube-node1.example.com:/dev/vdc
                    </pre>
                </div>
                <div class="text-center mt-10">
                    <a class="inline-block bg-indigo-600 text-gray-100 font-semibold rounded-lg shadow-lg px-5 py-2" href="#">Get Started for free</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-screen bg-indigo-100">
    <div class="w-3/4 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Kadalu Storage</h2>
        <p class="text-gray-500 font-semibold">An Opinionated GlusterFS distribution</p>
        <div class="grid grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none">
                <p>
                    <%= check_icon %><strong>Multi Cluster support</strong> - Manage multiple clusters in one place.<br/>
                    <%= check_icon %><strong>Externally hosted Control plane</strong> - Modern solution for managing Volumes and Clusters.<br/>
                    <%= check_icon %><strong>ReST APIs</strong> - Automate Kadalu Storage deployements easily by using the ReST APIs<br/>
                    <%= check_icon %><strong>Web/Mobile UI with multi user support</strong> - Web/Mobile UI allows to manage Kadalu Storage clusters on the go.<br/>
                    <%= check_icon %><strong>Long term support</strong> - Stop worrying about upgrading your storage nodes too often, get stable Kadalu Storage with 3 years support<br/>
                    <%= check_icon %><strong>NFS integration</strong> - Natively integrated with NFS-Ganesha to provide config-free NFS setup easily<br/>
                </p>
            </div>
            <div class="">
                <div class="text-center mt-10">
                    <a class="inline-block bg-indigo-600 text-gray-100 font-semibold rounded-lg shadow-lg px-5 py-2" href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-screen">
    <div class="w-3/4 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">GlusterFS Monitoring</h2>
        <p class="text-gray-500 font-semibold">Monitor your GlusterFS clusters using the Simplest monitoring tool.</p>
        <div class="grid grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none">
                <p>
                    <%= check_icon %><strong>Easy to configure</strong> - Login to the dashboard and configure GlusterFS monitoring easily with a few steps.<br/>
                    <%= check_icon %><strong>Multi Cluster support</strong> - Monitor multiple clusters easily in single place.<br/>
                    <%= check_icon %><strong>Instant alerts</strong> - Get alerts by email/Slack message instantly for the configured events<br/>
                    <%= check_icon %><strong>Specially designed for GlusterFS</strong> - No need to spend time on configuring monitoring tool for GlusterFS.<br/>
                    <%= check_icon %><strong>Detailed Reports</strong> - Get detailed reports every week by email.<br/>
                </p>
            </div>
            <div class="">
                <div class="text-center mt-10">
                    <a class="inline-block bg-indigo-600 text-gray-100 font-semibold rounded-lg shadow-lg px-5 py-2" href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-screen bg-indigo-100">
    <div class="w-3/4 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Services</h2>
        <p class="text-gray-500 font-semibold"></p>
        <div class="grid grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none">
                <p>
                    <%= check_icon %><strong>Feature development</strong> - We can design, prototype and implement GlusterFS/Kadalu Storage tools, applications and features for your Company.<br/>
                    <%= check_icon %><strong>Migration to Kadalu Storage</strong> - Kadalu Storage is based on GlusterFS with added goodies. We can help migrating to Kadalu Storage without or with minimal data movement.<br/>
                    <%= check_icon %><strong>Training</strong> - We provide GlusterFS/Kadalu Storage training for admins/developers<br/>
                    <%= check_icon %><strong>Consultancy</strong> - We provide GlusterFS/Kadalu Storage consultancy<br/>
                    <%= check_icon %><strong>Upgrade assistance</strong> - We provide GlusterFS/Kadalu Storage upgrade assistance<br/>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="h-screen bg-indigo-200">
    <div class="w-3/4 mx-auto">
        <h2 class="text-2xl font-bold mb-10 py-10">Latest Blog Posts</h2>
        <div class="grid grid-cols-3 gap-4 pb-10">
            <% sort_blog_posts(@items.find_all('/blog/*'))[0, 3].each do |post| %>
            <% author = author_data(post[:author].to_sym) %>
            <% slug, created_at = slug_and_created_at(post) %>
            <a href="<%= slug %>">
                <div class="shadow-lg bg-white p-5 rounded-lg" style="height: 350px">
                    <div class="font-semibold text-xl mb-2"><%= post[:title] %></div>
                    <div class="text-gray-500 text-sm mb-7">Posted on <strong><%= get_pretty_date(created_at) %></strong> by <strong><%= author[:name] %></strong></div>
                    <p class="text-sm"><%= post[:description] %>...</p>
                </div>
            </a>
            <% end %>
        </div>
        <div class="text-right">
            <a class="bg-indigo-600 text-gray-100 px-5 py-2 rounded-lg shadow-lg" href="/blog">more</a>
        </div>
    </div>
</div>
