<footer class="footer bg-blue-900 text-gray-100 pb-2">
    <div class="mx-auto px-10 md:px-20 w-full sm:w-auto md:w-full lg:w-32 xl:w-3/4">
        <div class="flex flex-wrap -mx-2">
            <div class="w-full md:w-2/6 mt-10">
                <h2 class="text-xl text-yellow-600">Get Started</h2>
                <a class="footer-menu" href="{{ "/docs" | relative_url }}">
                    <i class="fa fa-book pr-2"></i>Documentation
                </a>
                <a class="footer-menu" href="{{ "/docs/get-involved" | relative_url }}">
                    <i class="fas fa-users pr-2"></i>Get Involved
                </a>
            </div>
            <div class="w-full md:w-2/6 mt-10">
                <h2 class="text-xl text-yellow-600">Community</h2>
                <a class="footer-menu" href="https://twitter.com/kadaluproject">
                    <i class="fab fa-twitter pr-2"></i>Twitter
                </a>
                <a class="footer-menu" href="https://github.com/kadalu/kadalu">
                    <i class="fab fa-github pr-2"></i>Github
                </a>
                <a class="footer-menu" href="https://github.com/kadalu/kadalu/issues">
                    <i class="fas fa-bug pr-2"></i>Issues
                </a>
                <a class="footer-menu" href="https://kadalu.slack.com">
                    <i class="fab fa-slack pr-2"></i>Slack
                </a>
                <a class="footer-menu" href="https://kadalu.org/blog">
                    <i class="fas fa-blog pr-2"></i>Blog
                </a>
                <a class="footer-menu" href="https://github.com/kadalu/kadalu/graphs/contributors">
                    <i class="fas fa-users pr-2"></i>Contributors
                </a>
            </div>
            <p class="text-center w-full mt-10">
                &copy; 2019 <strong>Kadalu Authors</strong>. All rights reserved.
            </p>
        </div>
  </div>
</footer>
