<div class="message bg-blue-200 px-2 py-2 mb-10 rounded">
    <div class="message-body" style="text-align:center">
      Join the Kadalu team as we plan, design and develop new features.
      <br/>We are available on our Slack instance,
      <a href="https://join.slack.com/t/kadalu/shared_invite/enQtNzg1ODQ0MDA5NTM2LWMzMTc5ZTJmMjk4MzI0YWVhOGFlZTJjZjY5MDNkZWI0Y2VjMDBlNzVkZmI1NWViN2U3MDNlNDJhNjE5OTBlOGU">
        <i class="fab fa-slack pr-2"></i>
	https://kadalu.slack.com
      </a>
      .
    </div>
</div>
