<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%= render '/seo.html' %>
        <%= render '/head.html' %>
    </head>
    <body>
        <%= render '/header_menu.html' %>
        <% project_name = project_from_url(@item.path) %>
        <% project = project_from_name(project_name) %>
        <div class="w-full px-5 py-10 bg-indigo-100" style="min-height:50vh">
            <h2 class="text-3xl"><%= project["title"] %></h2>
            <p><%= project["description"] %></p>
            <div class="md:grid md:grid-cols-4 gap-4 mt-10">
                <% supported_versions(project_name).each do |version| %>
                <div class="py-5 px-5 shadow-lg rounded-lg bg-white mb-5 cursor-pointer hover:bg-gray-100" onclick="location='<%= @config[:prefix_path] %>/<%= project_name %>/<%= version %>'">
                    <%= version %>
                </div>
                <% end %>
            </div>
        </div>
        <%= render '/footer.html' %>
    </body>
</html>
