<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%= render '/seo.html' %>
        <%= render '/head.html' %>
        <% redirect_to_url = @item.path.gsub("/docs/", "/") %>
        <meta charset="utf-8">
        <title>Redirecting&hellip;</title>
        <link rel="canonical" href="<%= redirect_to_url %>">
        <script>location="<%= redirect_to_url %>"</script>
        <meta http-equiv="refresh" content="0; url=<%= redirect_to_url %>">
        <meta name="robots" content="noindex">
    </head>
    <body>
        <div class="p-6" style="min-height:50vh;max-width:960px;margin:auto">
            <h1>Redirecting to <%= redirect_to_url %> &hellip;</h1>
            <a href="<%= redirect_to_url %>">Click here if you are not redirected.</a>
        </div>
        <%= render '/footer.html' %>
    </body>
</html>
