<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%= render '/seo.html' %>
        <%= render '/head.html' %>
    </head>
    <body>
        <%= render '/header_menu.html' %>
        <div class="w-full px-5 py-10 bg-indigo-100" style="min-height:50vh">
            <h2 class="text-3xl mb-10"><%= @item[:title] %></h2>
            <div class="md:grid md:grid-cols-4 gap-4">
                <% list_projects.each do |project| %>
                <div class="shadow-lg rounded-lg py-2 px-5 bg-white mb-5 cursor-pointer hover:bg-gray-100" onclick="location='<%= @config[:prefix_path] %>/<%= project["name"] %>'">
                    <h2 class="text-2xl"><%= project["title"] %></h2>
                    <p class="text-gray-500 text-sm"><%= project["description"] %></p>
                </div>
                <% end %>
            </div>
        </div>
        <%= render '/footer.html' %>
    </body>
</html>
