<div class="bg-gray-800 text-gray-100 py-10">
    <div class="mx-auto w-3/4" style="min-height: 60vh">
        <div class="grid grid-cols-4 gap-4">
            <div class="">
                <h2 class="text-xl font-semibold text-indigo-300">Kadalu</h2>
                <ul>
                    <li><a href="/k8s-native-storage">Kubernetes native Storage</a></li>
                    <li><a href="/kadalu-storage">Kadalu Storage</a></li>
                    <li><a href="/glusterup">GlusterFS monitoring</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/services#features">Feature development</a></li>
                    <li><a href="/services#upgrade">Upgrade assistance</a></li>
                    <li><a href="/services#consultancy">Consultancy</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/security">Security</a></li>
                </ul>
            </div>

            <div class="">
                <h2 class="text-xl font-semibold text-indigo-300">Community</h2>
                <ul>
                    <li><a href="/get-involved">Get-involved</a></li>
                    <li><a href="https://join.slack.com/t/kadalu/shared_invite/enQtNzg1ODQ0MDA5NTM2LWMzMTc5ZTJmMjk4MzI0YWVhOGFlZTJjZjY5MDNkZWI0Y2VjMDBlNzVkZmI1NWViN2U3MDNlNDJhNjE5OTBlOGU">Slack</a></li>
                    <li><a href="https://github.com/kadalu">Github</a></li>
                    <li><a href="/office-hours">Office Hours</a></li>
                </ul>
            </div>

            <div class="">
                <h2 class="text-xl font-semibold text-indigo-300">Learn</h2>
                <ul>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/tutorials">Tutorials</a></li>
                    <li><a href="/release-notes">Release notes</a></li>
                    <li><a href="/compare">Compare</a></li>
                </ul>
            </div>
            
            <div class="">
                <h2 class="text-xl font-semibold text-indigo-300">Company</h2>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-800 text-gray-100 py-10">
    <div class="mx-auto w-3/4 text-center text-gray-300">
        &copy; <%= Time.new.year %> Kadalu Software Private Limited. All Rights Reserved.
    </div>
</div>
