<div class="footer has-background-primary has-text-white pt-6">
    <div class="columns">
        <div class="column">
            <h2 class="has-font-weight-semibold is-size-5 is-underlined py-2">Community</h2>
            <a class="is-block has-text-white" target="_blank" href="https://join.slack.com/t/kadalu/shared_invite/enQtNzg1ODQ0MDA5NTM2LWMzMTc5ZTJmMjk4MzI0YWVhOGFlZTJjZjY5MDNkZWI0Y2VjMDBlNzVkZmI1NWViN2U3MDNlNDJhNjE5OTBlOGU">Community Slack</a>
            <a class="is-block has-text-white" target="_blank" href="https://github.com/kadalu">Github</a>
        </div>
    </div>
    <div class="has-text-centered mt-6">
        Copyright &copy; 2022 Kadalu Technologies Private Limited.
    </div>
</div>
