<% cls = "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
<% selected_cls = "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
<div class="mb-10 bg-indigo-900">
    <div class="w-3/4 m-auto py-5">
        <div class="grid grid-cols-12">
            <div class="col-span-2">
                <a href="/"><img src="/static/css/logo.png" class="h-10" /></a>
            </div>
            <div class="col-span-10 text-right pt-2">
                <a href="/docs" class="<% if @item.path == "/docs/" %><%= selected_cls %><% else %><%= cls %><% end %>">Docs</a>
                <a href="/products" class="<% if @item.path == "/products/" %><%= selected_cls %><% else %><%= cls %><% end %>">Products</a>
                <a href="/opensource" class="<% if @item.path == "/opensource/" %><%= selected_cls %><% else %><%= cls %><% end %>">Open Source</a>
                <a href="/pricing" class="<% if @item.path == "/pricing/" %><%= selected_cls %><% else %><%= cls %><% end %>">Pricing</a>
                <a href="/company" class="<% if @item.path == "/company/" %><%= selected_cls %><% else %><%= cls %><% end %>">Company</a>
                <a href="/blog" class="<% if @item.path == "/blog/" %><%= selected_cls %><% else %><%= cls %><% end %>">Blog</a>
            </div>
        </div>
    </div>
</div>
