<nav class="navbar pr-4" role="navigation" aria-label="main navigation" x-data="{showing: false}">
    <div class="navbar-brand has-text-left">
        <a class="navbar-item" href="/">
            <span class="has-text-primary is-size-4">kadalu</span><span class="has-text-grey is-size-4 ml-1">DOCS</span>
        </a>

        <div class="field">
            <p class="control has-icons-left mx-2 mt-4">
                <input class="input" type="email" placeholder="Search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="icon is-small is-left pl-1" style="width: 1.5em">
                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                </svg>
            </p>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" :class="showing ? 'is-active' : ''" aria-expanded="false" @click="showing = !showing">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        
    </div>

    <div class="navbar-end" x-show="showing">
        <a class="navbar-item" href="https://kadalu.tech">
            kadalu.tech
        </a>
    </div>
    <div class="navbar-end is-hidden-touch">
        <a class="navbar-item" href="https://kadalu.tech">
            kadalu.tech
        </a>
    </div>
</nav>
