---
title: Products
---
<div id="k8s-native-storage" class="">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Kubernetes native Storage</h2>
        <p class="text-gray-500 font-semibold">Provision storage in less time than it takes to brew coffee</p>
        <div class="md:grid md:grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none mb-10">
                <p>Kadalu helps you configure persistent storage in 2 easy steps.</p>
                <p>So you can focus on managing and scaling your applications within the Kubernetes framework.</p>
                <p><%= check_icon %><strong>Easy to Use</strong> - Easy to install on an already running Kubernetes cluster using Kadalu Operator.<br/>
                    <%= check_icon %><strong>Open Source</strong> - Kadalu is licenced under Apache 2.0 license.<br/>
                    <%= check_icon %><strong>Secure and Scalable</strong> - Natively integrated with Kubernetes for secured access to Storage servers.<br/>
                    <%= check_icon %><strong>Powered by GlusterFS</strong> - Kadalu is powered by time tested industry-proven GlusterFS.<br/>
                    <%= check_icon %><strong>Works with all Kubernetes</strong> - Kadalu works with upstream Kubernetes, Openshift and many others.<br/>
                    <%= check_icon %><strong>Effective Monitoring</strong> - Kadalu comes with built-in health, utilization and performance metrics measures. Easy to integrate into observability patterns.</p>
            </div>
            <div class="">
                <div class="prose max-w-none">
                    <pre>
$ kubectl kadalu install
$ kubectl kadalu storage-add storage-pool-1 \
    --device kube-node1.example.com:/dev/vdc
                    </pre>
                </div>
                <div class="text-right mt-10">
                    <button class="button bg-indigo-600 text-gray-100" onclick="location.href='/docs/k8s-storage'">Read the docs</button>
                </div>
            </div>
        </div>
    </div>
</div>
