---
title: Products
---
<div class="min-h-screen">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Kubernetes native Storage</h2>
        <p class="text-gray-500 font-semibold">Provision storage in less time than it takes to brew coffee</p>
        <div class="md:grid md:grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none mb-10">
                <p>Kadalu helps you configure persistent storage in 2 easy steps.</p>
                <p>So you can focus on managing and scaling your applications within k8s framework.</p>
                <p><%= check_icon %><strong>Easy to Use</strong> - Easy to install on an already running kubernetes cluster using Kadalu Operator.<br/>
                    <%= check_icon %><strong>Open Source</strong> - Kadalu is licenced under Apache 2.0 license.<br/>
                    <%= check_icon %><strong>Secure and Scalable</strong> - Natively integrated with Kubernetes for secured access to Storage servers.<br/>
                    <%= check_icon %><strong>Powered by GlusterFS</strong> - Kadalu is powered by time tested industry proven Gluster distributed Filesystem.<br/>
                    <%= check_icon %><strong>Works with all Kubernetes</strong> - Kadalu works with upstream Kubernetes, Openshift and many others.<br/>
                    <%= check_icon %><strong>Effective Monitoring</strong> - Kadalu comes with built-in health, utilization and performance metrics measures. Easy to integrate into observability patterns.</p>
            </div>
            <div class="">
                <div class="prose max-w-none">
                    <pre>
$ kubectl kadalu install
$ kubectl kadalu storage-add storage-pool-1 \
    --device kube-node1.example.com:/dev/vdc
                    </pre>
                </div>
                <div class="text-center mt-10">
                    <a class="bg-indigo-600 text-gray-100 button" href="/k8s-native-storage">Get Started for free</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="min-h-screen bg-indigo-100">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">Kadalu Storage</h2>
        <p class="text-gray-500 font-semibold">An Opinionated GlusterFS distribution</p>
        <div class="md:grid md:grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none mb-10">
                <p>
                    <%= check_icon %><strong>Multi Cluster support</strong> - Manage multiple clusters in one place.<br/>
                    <%= check_icon %><strong>Externally hosted Control plane</strong> - Modern solution for managing Volumes and Clusters.<br/>
                    <%= check_icon %><strong>ReST APIs</strong> - Automate Kadalu Storage deployements easily by using the ReST APIs<br/>
                    <%= check_icon %><strong>Web/Mobile UI with multi user support</strong> - Web/Mobile UI allows to manage Kadalu Storage clusters on the go.<br/>
                    <%= check_icon %><strong>Long term support</strong> - Stop worrying about upgrading your storage nodes too often, get stable Kadalu Storage with 3 years support<br/>
                    <%= check_icon %><strong>NFS integration</strong> - Natively integrated with NFS-Ganesha to provide config-free NFS setup easily<br/>
                </p>
            </div>
            <div class="">
                <div class="text-center mt-10">
                    <a class="button bg-indigo-600 text-gray-100 font-semibold" href="/kadalu-storage">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="min-h-screen">
    <div class="w-full px-10 md:w-3/4 md:px-0 mx-auto py-10">
        <h2 class="text-2xl font-bold mb-2 text-indigo-600">GlusterFS Monitoring</h2>
        <p class="text-gray-500 font-semibold">Monitor your GlusterFS clusters using the Simplest monitoring tool.</p>
        <div class="md:grid md:grid-cols-2 gap-4 mt-10">
            <div class="prose max-w-none mb-10">
                <p>
                    <%= check_icon %><strong>Easy to configure</strong> - Login to the dashboard and configure GlusterFS monitoring easily with a few steps.<br/>
                    <%= check_icon %><strong>Multi Cluster support</strong> - Monitor multiple clusters easily in single place.<br/>
                    <%= check_icon %><strong>Instant alerts</strong> - Get alerts by email/Slack message instantly for the configured events<br/>
                    <%= check_icon %><strong>Specially designed for GlusterFS</strong> - No need to spend time on configuring monitoring tool for GlusterFS.<br/>
                    <%= check_icon %><strong>Detailed Reports</strong> - Get detailed reports every week by email.<br/>
                </p>
            </div>
            <div class="">
                <div class="text-center mt-10">
                    <a class="button bg-indigo-600 text-gray-100" href="/glusterup">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
