---
layout: default
---
<div class="py-10">
  <div class="mx-auto px-10 md:px-20 w-full sm:w-auto md:w-full lg:w-32 xl:w-3/4">
    <div class="flex flex-wrap -mx-2">
      <nav class="breadcrumb w-full mb-10" aria-label="breadcrumbs">
        <a class="px-2" href="/">Home</a>/
        <a class="px-2" href="/blog">Blog</a>/
        <span class="px-2" aria-current="page">{{ page.url | replace: "/blog/", "" }}</span>
      </nav>

      {% assign author = site.data.authors[page.author] %}
      <div class="w-full md:w-5/6">
        <article class="content mr-0 md:mr-10" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h1 class="text-3xl text-blue-900" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="text-gray-600 text-md">
              Posted on 
              <time class="italic" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: " %b %-d, %Y" }}
              </time>
              by
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author font-bold" itemprop="name">
                  {{ author.name | escape }}
                </span>
              </span>
            </p>
          </header>

          <div class="content e-content" itemprop="articleBody">
            {{ content }}
          </div>

          {%- if site.disqus_name and page.comments != false -%}
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function (
            ) {
                this.page.url = '{{ page.url | absolute_url }}';
                this.page.identifier = '{{ page.url | absolute_url }}';
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://{{ site.disqus_name }}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          {%- endif -%}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>    
      </div>
      <div class="w-full md:w-1/6">
        {%- if page.author -%}
        {% assign author = site.data.authors[page.author] %}

        <div class="">
          <img class="rounded-full" src="https://github.com/{{ page.author }}.png?size=300px" alt="Placeholder image">
          <p class="text-blue-900 text-2xl">
            <a href="{{ site.baseurl }}/author/{{ page.author }}">{{ author.name | escape }}</a>
          </p>
          <p class="text-2xl">
            <a class="px-2 hover:text-blue-500" href="https://github.com/{{ page.author }}"><i class="fab fa-github"></i></a>
            <a class="px-2 hover:text-blue-500" href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-twitter"></i></a>
            <a class="px-2 hover:text-blue-500" href="{{ author.site }}"><i class="fas fa-link"></i></a>
          </p>
          <p class="mb-10">
            {{ author.bio }}
          </p>

        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
